@import '~@angular/material/theming';

:host {
  padding: 1rem;
  display: block;
  background-color: mat-color($mat-blue-grey, 200);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);  
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}