<section *ngIf="fireAuth.authState | async; let user; else showLogin">
  <div class="display">
    {{user.displayName}}
  </div>
  <div class="action">
    <button 
      mat-button
      color="primary" 
      (click)="logout()">Logout</button>
  </div>
</section>
<ng-template #showLogin>
  <section>
    <div class="display">
      
    </div>
    <div class="action">
      <button
        mat-raised-button 
        color="primary" 
        (click)="login()">Login with Google</button>
    </div>
  </section>
</ng-template>