@import '~@angular/material/theming';

:host {
  display: block;
}

#addPost{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.post{
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid mat-color($mat-grey, 300);
  padding: 1rem;  
  
}